@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&family=Big+Shoulders+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  padding: 10rem;
}

.box_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first_box_container {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  background-color:hsl(31, 77%, 52%);
  border: 1px solid #e28525;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 2rem;
  gap:4rem;
}

.second_box_container {
  width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  background-color:hsl(184, 100%, 22%);
  border: 1px solid #006a73;
  padding: 2rem;
  gap:4rem;
}

.third_box_container {
    width: 23%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  background-color: hsl(179, 100%, 13%);
  border: 1px solid #00413f;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 2rem;
  gap:4rem;
}

.title_fnt {
  font-weight: 700;
  font-size: 2rem;
  color: white;
  font-family: "Big Shoulders Display", sans-serif;
}

.para_fnt_first {
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  color: #ffddb5;
  font-size: 0.6rem;
}

.para_fnt_second {
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
  color: #74bec3;
  font-size: 0.6rem;
}

.para_fnt_third {
  font-family: "Lexend Deca", sans-serif;
  color: #5f8f91;
  font-size: 0.6rem;
  font-weight: 400;
}

.btn_first {
  width: 75%;
  background-color: white;
  border: 0;
  border-radius: 2rem;
  padding: 0.6rem;
  font-family: "Lexend Deca", sans-serif;

  color: #f1b161;
  font-size: 0.8rem;
  cursor: pointer;
}

.btn_second {
  width: 75%;
  background-color: white;
  border: 0;
  border-radius: 2rem;
  padding: 0.6rem;
  font-family: "Lexend Deca", sans-serif;

  color: #74bec3;
  font-size: 0.8rem;
  cursor: pointer;
}

.btn_third {
  width: 75%;
  background-color: white;
  border: 0;
  border-radius: 2rem;
  padding: 0.6rem;
  font-family: "Lexend Deca", sans-serif;
  color: #5f8f91;
  font-size: 0.8rem;
  cursor: pointer;
}


.btn_first:hover{
  background-color:hsl(31, 77%, 52%);
  color: white;
  border:1px solid white;
}

.btn_second:hover{
  background-color:hsl(184, 100%, 22%);
  color: white;
  border:1px solid white;
}

.btn_third:hover{
  background-color: hsl(179, 100%, 13%);
  color: white;
  border:1px solid white;
}

.first___{
  display: flex;
  flex-direction: column;
  gap:1rem;
} 

.second___{
   display: flex;
  flex-direction: column;
  gap:1rem;
}

.third___{
   display: flex;
  flex-direction: column;
  gap:1rem;
}


@media (max-width: 480px) {

  .container{
    padding: 3rem;
  }
.box_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first_box_container{
  width: 100%;
  border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
}

.second_box_container{
  width: 100%;
}

.third_box_container{
  width: 100%;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.btn_first{
  width: 50%;
}

.btn_second{
  width: 50%;
}

.btn_third{
  width: 50%;
}
}