@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: #dfe8ff;
}

.box-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.box {
  width: 30%;
  background-color: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.image__ {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.text-container-fnt {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 900;
}

.text-container-para-fnt {
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
  font-weight: 400;
}

.text-body_container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-container-badge-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #f8f9ff;
  padding: 1rem;
  align-items: center;
  border-radius: 0.5rem;
}

.badge_inside_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}

.badge___inside_container__ {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.badge_fnt_inside {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 800;
  font-size: 1rem;
}

.badge___para_fnt {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.anchor_tag {
  font-family: "Red Hat Display", sans-serif;
  color: #5249ea;
  font-weight: 500;
}

.btn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.6rem;

  box-shadow: black;
}

.btn {
  width: 100%;
  background-color: #382ae1;
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: white;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 200;
  border: 0;
  cursor: pointer;
}

.btn_para_text {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
}

/* Media Queries */
@media screen and (max-width: 375px) {
  .box-container {
    height: 100vh;
    padding: 1rem;
  }

  .box {
    width: 100%;
  }
}
