@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container_bg {
  background-color: #1aa1ad;
  position: relative;
  overflow: hidden;
}

.image_first__ {
  position: absolute;
  left: -15rem;
  top: -36rem;
}

.image_second___ {
  position: absolute;
  width: 100%;
  left: 20rem;
  top: 21rem;
  overflow: hidden;
}

.body_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.box_container {
  width: auto;

  border-radius: 1rem;
}

.bg__ {
  border: 1px solid #3ecfd6;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.photo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  background-color: white;
  border: 1px solid #3ecfd6;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 1;
}

.image__container {
  position: absolute;
  top: -3.4rem;
}

.image__bg__ {
  border-radius: 10rem;
  border: 2px solid white;
}

.title_container {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.4rem;
  margin-top: 2rem;
}

.text___container__ {
  width: 100%;
  border-top: 1px solid black;
  padding: 1.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timeline_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 0.3rem;
}

.fnt_para__ {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.fnt__text__ {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.grey__ {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #707274;
}

.para_fnt___ {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 700;
}

.title_fnt___ {
  font-size: 0.7rem;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #aeaeb0;
}



