@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #0a0b1b;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
}

.box_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1b1938;
  border: 1px solid #1b1938;
  border-radius: 0.5rem;
  color: white;
}

.first_box_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  gap: 3rem;
}

.heading_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timeline_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second_container {
  width: 100%;
  position: relative;
}

.image__ {
  display: block;
  width: 100%;
  height: 100%;
}

._overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #8044a4;
  opacity: 0.6;
}

.heading_fnt_main {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
}

.color__ {
  color: #aa5add;
}

.para_fnt {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-family: 400;
  color: #6a6880;
}

.timeline___container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.heading_fnt_ {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
}

.para_fnt___ {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 0.6rem;
  color: #83819b;
  letter-spacing: 0.1rem;
}

@media (max-width: 480px) {
  .container {
    padding: 2rem;
  }

  .first_box_container {
    padding: 3rem;
  }
  .box_container {
    flex-direction: column;
  }
}
