@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #f4ebe3;
}

.box_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem;
}

.box {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 0.5rem;
}

.second_box_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;
  background-color: white;
}

.second_fnt_heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: #a8a9ac;
}

.second_fnt_text_para {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
}

.third_fnt__ {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #7f8089;
}

.price_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.price_fnt {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  color: #3d7661;
}

.price_fnt____ {
  font-family: "Montserrat", sans-serif;
  color: #94959f;
  font-weight: 500;
}

.btn__ {
  background-color: #3d8268;
  padding: 0.5rem;
  border: 1px solid #3d8268;
  border-radius: 0.4rem;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.image_container {
  width: 100%;
  height: 100%;
}

.image__ {
  width: 100%;
  height: 100%;
}

@media (max-width: 480px) {
  .box_container {
  padding: 0rem;
}

.box {
  flex-direction: column;
}
}