@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    background-color: #f5d04e;

}

.box_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.box_main_container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    border: 0.5px solid black;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 10px 10px black
}


.img {
    border-radius: 0.5rem;
}

.text_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.7rem;

}

.loading-badge-container {
    background-color: #f3d34d;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.loading-badge-fnt {
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
    color: black;
}

.loading-badge-para-fnt {
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
}

.loading_badge_heading_fnt {
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
}

.loading_badge_para_fnt___ {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;

}

.loading_image_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.image__ {
    width: 20%;

}

.image_para_fnt___ {
    font-family: 'Figtree', sans-serif;
    font-weight: 700;
}

@media only screen and (max-width: 600px) {


    .box_main_container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 1rem;
        border: 0.5px solid black;
        padding: 1rem;
        gap: 1rem;
        box-shadow: 10px 10px black
    }

    .img {
        width: 100%;
    }

}