@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  position: relative;
  background-color: #f9eeff;
}

.faq_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container_bg {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.faq_box {
  position: relative;
  top: 50px;
  width: 50%;
  background-color: white;
  border-radius: 0.6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: auto;
}

.title_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1.8rem;
}

.faq_heading_title {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

.faq_text_inside_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  cursor: pointer;
}

.faq_text_fnt__ {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  color: #37283a;
}

.faq_para_text_fnt {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: #b2abb4;
  display: none;
}

.faq_text_main_container__ {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.faq_text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Media Queries */
@media screen and (max-width: 375px) {
  .faq_container {
    height: auto;
    padding: 1rem;
  }
  .faq_box {
    width: 100%;
    padding: 1rem;
  }
}
