@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Poppins:wght@400;600&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: #674bb1;
  background-image: url(./images/bg-desktop.svg);
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
}

.main-container__ {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.image_container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
}

.image_text_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
}

.img__ {
  width: 50%;
}

.fnt-heading_fnt {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
}

.fnt-para {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  text-align: justify;
}

.btn_container {
  background-color: #fffeff;
  font-size: 0.9rem;
  border-radius: 2rem;
  padding: 0.8rem;
  width: 30%;
  cursor: pointer;
  border: 0;
  color: #afa4ce;
  font-family: "Open Sans", sans-serif;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
  }
  .main-container {
    padding: 2rem;
  }

  .image_container {
    flex-direction: column;
  }

  .img__ {
    width: 100%;
  }

  .image_text_container {
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .btn_container {
    width: 70%;
  }

  .fnt-para {
    text-align: center;
  }

  .fnt-heading_fnt {
    text-align: center;
  }
}
